@model Dealership.Models.CarMake
@{
    ViewBag.Title = "AddMake";
}

<h2>Add Make</h2>
@using (Html.BeginForm())
{
    <div class="col-md-12">
        <div class="row">
            @Html.TextBoxFor(m=>m.Make, new { @style = "form-control", placeholder = "Make Name" })
        </div>
        <br />
        <div class="row">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}


