@model Dealership.Models.ViewModels.UserRoleViewModel
@{
    ViewBag.Title = "ChangePassword";
}

@using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post))
{
    @Html.ValidationSummary()
    <div class="col-md-12">
        <br />
        <h2>Change Password</h2>
        <br />
        <div class="row">
            <div class="col-md-4">
                <div class="form-horizontal">
                    <p>
                        <label>Password</label>
                        @Html.TextBoxFor(p => p.Password, new { @class = "form-control", placeholder = "New Password" })
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <div class="form-horizontal">
                    <p>
                        <label>Confirm Password</label>
                        @Html.TextBoxFor(p => p.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm New Password" })
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" id="pwchange">Save</button>
            </div>
        </div>
    </div>
}


